#contact_info
  %h3 #{ user.first_name }&rsquo;s Contact Info
  %dl
    %dt Email
    %dd= mail_to user.email
    -unless user.facebook.blank?
      %dt Facebook
      %dd= link_to user, user.facebook
    -unless user.twitter.blank?
      %dt Twitter
      %dd= link_to user.twitter, "http://twitter.com/" + user.twitter.gsub(/@/,'')
    -unless user.linkedin.blank?
      %dt LinkedIn
      %dd= link_to user, user.linkedin, :class => 'linkedin-profileinsider-popup'
    -unless user.web_site.blank?
      %dt Personal web site
      %dd= link_to user.web_site.gsub(/https?:\/\//, ''), user.web_site
    -unless user.phone_number.blank?
      %dt Phone number
      %dd= user.phone_number
  -if edit
    =link_to "Edit your contact info", edit_user_registration_path, :class => "edit"
