-content_for :banner do
  -if @card.giver.company_name.blank?
    =@title = "A message from #{ @card.giver }"
  -else
    =@title = "A message from #{ @card.giver } of #{ @card.giver.company_name }"
#message
  %blockquote.message= auto_link simple_format @card.message
  %p.note.right Posted #{ time_ago_in_words @card.updated_at } ago.
  %hr
  %div{ :class => @hide_form ? '' : 'show-form' }
    #actions
      =link_to "Have #{ @card.giver.first_name } get a hold of me", new_card_contact_request_path(@card.code), :class => 'button open-form'
    .hidden-form
      %h2 Have #{ @card.giver.first_name } get a hold of me
      =render "cards/contact_requests/form"
  -if @card.giver.any_contact_info_public?
    %hr
    =render "contact_info", :user => @card.giver, :edit => false
