-content_for :title do
  Orders
#breadcrumb
  =link_to "Dashboard", admin_path
  =">"
  =link_to "Orders", admin_orders_path
- if @status
  %h1= "Orders #{ @status }"
- else
  %h1 Orders
%hr
%table
  %tr
    %th Order
    %th Type
    %th State
    %th User
    %th Placed
  -for order in @orders
    %tr
      %td= link_to order, admin_order_path(order)
      %td= order.type
      %td= order.state
      %td= link_to order.user, admin_user_path(order.user) if order.user
      %td= order.created_at.to_s(:short)
%hr
  %p#summary Total orders: #{ @total_orders }
