=link_to "Admin", admin_path
=">"
=link_to "Orders", admin_orders_path
- if @status
  %h1= "Orders #{ @status }"
- else
  %h1 Orders
%table
  %tr
    %th Order
    %th Status
    %th User
    %th Placed at
  -for order in @orders
    %tr
      %td= link_to order, admin_order_path(order)
      %td= order.status
      %td= link_to order.user, admin_user_path(order.user)
      %td= order.placed_at
