-content_for :title do
  =@order
#breadcrumb
  =link_to "Dashboard", admin_path
  =">"
  =link_to "Orders", admin_orders_path
  =">"
  =link_to @order, admin_order_path(@order)
%h1= @order
%hr
.details
  %p
    %label Type
    %span= @order.type
  %p
    %label State
    %span= @order.state
  %p
    %label Placed at
    %span= @order.created_at.to_s :long
  -if @order.user
    %p
      %label User
      %span= link_to @order.user, admin_user_path(@order.user)
  %p
    %label Number of cards
    %span= link_to "#{ @order.cards.count }/#{ @order.cards_amount }", cards_admin_order_path
  %p
    %label Billing address
    %span #{ @order.buyer_billing_address }
  %p
    %label Shipping address
    %span= link_to @order.buyer_shipping_address, envelope_admin_order_path(@order)
  -if @order.authorization_amount
    %p
      %label Authorization amount
      %span= "$" + sprintf("%.2f", @order.authorization_amount) 
  -if @order.kind_of? GoogleOrder
    %p
      %label Google order number
      %span= link_to @order.google_order_number, "https://checkout.google.com/sell/multiOrder?order=#{ @order.google_order_number }"
#actions
  -if @order.state == 'awaiting-shipment'
    -if @order.google_order_number
      =button_to "Charge and Ship", ship_admin_order_path
    -else
      =button_to "Ship", ship_admin_order_path
  -unless @order.state == 'shipped' or @order.state == 'canceled'
    =button_to "Edit", edit_admin_order_path(@order), :method => :get
    =button_to "Generate cards", generate_admin_order_path(@order)
    =button_to "Cancel", cancel_admin_order_path(@order)
