%h1= @order
%p
  %label Status
  %span= @order.status
%p
  %label Shipping address
  %span #{ @order.address } #{ @order.city }, #{ @order.state } #{ @order.zip }
%p
  %label Placed at
  %span= @order.placed_at
-if @order.generated_at
  %p
    %label Generated at
    %span= @order.generated_at
-if @order.shipped_at
  %p
    %label Shipped at
    %span= @order.shipped_at
%p
  %label User
  %span= link_to @order.user, admin_user_path(@order.user)
-if @order.generated_at
  -unless @order.shipped_at
    =button_to "Ship", ship_admin_order_path
-else
  =button_to "Generate", generate_admin_order_path
