%div#pitch
  %h1
    Business cards: rethought.
  %h2
    We found a way skip that pesky trading of contact information to fast-forward connections.
%hr
#card-container
  #top-card.card
    .top-half
      %span.name
        Joe Blow
      %span.connecc
        http://conne.cc/d28cx
      %span.arrow= ">"
    .bottom-half
      %span.name
        Joe Blow
      %span.connecc
        http://conne.cc/d28cx
      %span.arrow= ">"
  #middle-card.card
    .top-half
      %span.name
        Grant Dunigan
      %span.connecc
        http://conne.cc/7k17d
      %span.arrow= ">"
    .bottom-half
      %span.name
        Grant Dunigan
      %span.connecc
        http://conne.cc/7k17d
      %span.arrow= ">"
  #bottom-card.card
    .top-half
      %span.name
        Orin Clark
      %span.connecc
        http://conne.cc/8dk18
      %span.arrow= ">"
    .bottom-half
      %span.name
        Orin Clark
      %span.connecc
        http://conne.cc/8dk18
      %span.arrow= ">"
%hr
%div#cta
  %h2
    Take the #{ link_to "tour", tour_path }, and find out how it works!
%hr
#order-cards
  .price $10 - 100 cards - free shipping
  :plain
    <form method="POST"
          action="https://sandbox.google.com/checkout/api/checkout/v2/checkoutForm/Merchant/953643756206889"
          accept-charset="utf-8">

      <input type="hidden" name="item_name_1" value="100 conne.cc cards"/>
      <input type="hidden" name="item_description_1" value="100 cards for use with conne.cc"/>
      <input type="hidden" name="item_price_1" value="10.00"/>
      <input type="hidden" name="item_currency_1" value="USD"/>
      <input type="hidden" name="item_quantity_1" value="1"/>
      <input type="hidden" name="item_merchant_id_1" value="100CARDS"/>

      <input type="hidden" name="_charset_" />

      <input type="image"
        name="Google Checkout"
        alt="Fast checkout through Google"
        src="http://sandbox.google.com/checkout/buttons/checkout.gif?merchant_id=953643756206889&w=180&h=46&style=trans&variant=text&loc=en_US"
        height="46"
        width="180" />
    </form>
  .clearfix
:plain
  <script type="text/javascript" src="https://www.rewardlevel.com/js/rewardlevel-1.0.0.min.js?plugin=898&action=show&style=topbar"></script>
