#pitch
  %h1
    Business cards are obselete.
  %h2
    We want to help you move past sharing contact information and up to continuing your conversations.
%hr
#card-container
  #top-card.card
    .top-half
      %span.name
        Joe Blow
      %span.connecc
        http://conne.cc/d28cx
      %span.arrow= ">"
    .bottom-half
      %span.name
        Joe Blow
      %span.connecc
        http://conne.cc/d28cx
      %span.arrow= ">"
  #middle-card.card
    .top-half
      %span.name
        Grant Dunigan
      %span.connecc
        http://conne.cc/7k17d
      %span.arrow= ">"
    .bottom-half
      %span.name
        Grant Dunigan
      %span.connecc
        http://conne.cc/7k17d
      %span.arrow= ">"
  #bottom-card.card
    .top-half
      %span.name
        Orin Clark
      %span.connecc
        http://conne.cc/8dk18
      %span.arrow= ">"
    .bottom-half
      %span.name
        Orin Clark
      %span.connecc
        http://conne.cc/8dk18
      %span.arrow= ">"
%hr
%h2 Learn more
#cta
  #{ link_to "See an example", tour_path, :class => 'button' }
  %span.alt or #{ link_to "Watch our video", intro_video_path }
%hr
#order-cards
  .price 100 cards - $10 - free shipping
  =form_for :order, :url => orders_place_path, :html => { :onsubmit => "setUrchinInputCode(pageTracker);" } do |f|
    %input{ :type => "hidden", :name => "analyticsdata", :value => ""}
    %input{ :type => "image",
            :name => "Google Checkout",
            :alt => "Fast checkout through Google",
            :src => "http://sandbox.google.com/checkout/buttons/checkout.gif?merchant_id=#{ ENV['CONNECC_GOOGLE_MERCHANT_ID'] }&w=180&h=46&style=trans&variant=text&loc=en_US",
            :height => "46",
            :width => "180"}
