%div#pitch
  %h1
    Business cards: rethought.
  %h2
    We found a way skip that pesky trading of contact information to fast-forward connections.
%hr
:plain
  <script type="text/javascript" src="https://www.rewardlevel.com/js/rewardlevel-1.0.0.min.js?plugin=89&action=show&style=topbar"></script>
#card-container
  #top-card.card
    .top-half
      %span.name
        Joe Blow
      %span.connecc
        http://conne.cc/d28cx
      %span.arrow= ">"
    .bottom-half
      %span.name
        Joe Blow
      %span.connecc
        http://conne.cc/d28cx
      %span.arrow= ">"
  #middle-card.card
    .top-half
      %span.name
        Grant Dunigan
      %span.connecc
        http://conne.cc/7k17d
      %span.arrow= ">"
    .bottom-half
      %span.name
        Grant Dunigan
      %span.connecc
        http://conne.cc/7k17d
      %span.arrow= ">"
  #bottom-card.card
    .top-half
      %span.name
        Orin Clark
      %span.connecc
        http://conne.cc/8dk18
      %span.arrow= ">"
    .bottom-half
      %span.name
        Orin Clark
      %span.connecc
        http://conne.cc/8dk18
      %span.arrow= ">"
%hr
%div#cta 
  %h2
    Take the #{ link_to "tour", tour_path }, and find out how it works!
