%h2 Meet Joe.
#joe Here be Joe.
.desc
  Joe sells restaurant equipment. He's having a rough time getting people to give him a call back though.
  He usually hands out his business card and never hears back.
#joe Here be sad Joe.
.desc
  He has some promotions he would like to offer his contacts, but they usually don't take the time to call
  him up or write him an email.
%h2
  We can help poor Joe.
.desc
  These are conne.cc cards. They are perforated down the middle.
#card-container
  #top-card.card
    .top-half
      %span.name
        Joe Blow
      %span.company
        Stainless World
      %span.connecc
        http://conne.cc/d28cx
      %span.email
        joe@stainlessworld.com
      %span.phone
        415-555-7154
      %span.arrow= ">"
    .bottom-half
      %span.name
        Joe Blow
      %span.company
        Stainless World
      %span.connecc
        http://conne.cc/d28cx
      %span.email
        joe@stainlessworld.com
      %span.phone
        415-555-7154
      %span.arrow= ">"
  #middle-card.card
    %span.arrow= ">"
  #bottom-card.card
    %span.arrow= ">"
%h2 How's it work?
.desc
  Joe's goes to a friend's barbecue. He strikes up a conversation with Kevin who is just
  starting his own restaurant, and he's looking for some large pots. Joe takes out one of his conne.cc cards,
  hands half of one to Kevin.
#half-card.card
  %span.name
    Joe Blow
  %span.company
    Stainless World
  %span.connecc
    http://conne.cc/d28cx
  %span.email
    joe@stainlessworld.com
  %span.phone
    415-555-7154
  %span.arrow= ">"
%h2 Then what?
.desc
  Joe goes to http://conne.cc/d28cx to set up the page for Kevin.
  He wants to offer Kevin a 20% discount on a few pots. So now it looks like this:
#joe
  Kevin, it was nice meeting you at the barbecue. Give me a call sometime,
  I'd like to offer you a 20% discount on some of those pots we were talking about.
%h2 Why is this better?
.desc
  %ul
    %li Kevin doesn't have to place a confrontational phone call.
    %li Kevin doesn't have to write a time consuming email.
    %li Kevin can check out the offer without making any commitment.
%h2 Think it could work?
.desc Cool! Sign up for some free cards!!
