%h2
  Business cards are for chumps.
.desc
  We found a way skip that pesky trading of contact information to actually build relationships.
#card-container
  #top-card.card
    .top-half
      %span.name
        Joe Blow
      %span.company
        Stainless World
      %span.connecc
        http://conne.cc/d28cx
      %span.email
        joe@stainlessworld.com
      %span.phone
        415-555-7154
      %span.arrow= ">"
    .bottom-half
      %span.name
        Joe Blow
      %span.company
        Stainless World
      %span.connecc
        http://conne.cc/d28cx
      %span.email
        joe@stainlessworld.com
      %span.phone
        415-555-7154
      %span.arrow= ">"
  #middle-card.card
    .top-half
      %span.name
        Grant Dunigan
      %span.company
        Lookin&#8217; Good Used Cars
      %span.connecc
        http://conne.cc/7k17d
      %span.email
        grant@lookingoodcars.com
      %span.phone
        626-555-8271
      %span.arrow= ">"
    .bottom-half
      %span.name
        Grant Dunigan
      %span.company
        Lookin&#8217; Good Used Cars
      %span.connecc
        http://conne.cc/7k17d
      %span.email
        grant@lookingoodcars.com
      %span.phone
        626-555-8271
      %span.arrow= ">"
  #bottom-card.card
    .top-half
      %span.name
        Orin Clark
      %span.company
        Fidgety&#8217;s Scrap Metal
      %span.connecc
        http://conne.cc/8dk18
      %span.email
        orin@welikescrap.net
      %span.phone
        971-555-8271
      %span.arrow= ">"
    .bottom-half
      %span.name
        Orin Clark
      %span.company
        Fidgety&#8217;s Scrap Metal
      %span.connecc
        http://conne.cc/8dk18
      %span.email
        orin@welikescrap.net
      %span.phone
        971-555-8271
      %span.arrow= ">"
%h2
  Sign up for our beta
-if @email
  =form_for @email, :as => :private_beta, :url => { :action => "splash" } do |f|
    -if @email.errors.any?
      %ul
        -for error in @email.errors.full_messages.each
          %li= error
    =f.label :email
    =f.text_field :email
    =f.submit :value => "Sign up!"
-else
  %h3 Thanks for signing up!
