-if @card.message
  %p&= @card.message
-if @card.giver == current_user
  -semantic_form_for @card, :html => { :method => :put }, :url => card_edit_path(@card.code) do |f|
    =f.inputs do
      =f.input :message
    =f.buttons
-else
  #message
    -if @notification_request
      %h2 #{ @card.giver } hasn't been here to post a message for you yet.
      %p.explanation To be notified when he posts a message for you, put your email here:
      =semantic_form_for @notification_request, :url => notification_request_path(@card.code) do |f|
        =f.inputs do
          =f.input :email, :label => false
        =f.buttons do
          =f.commit_button "Notify me*"
          %span.alt or #{ link_to "Leave him my contact info", contact_request_path(@card.code) }
      %p.note * #{ @card.giver } will not get your email, or have any idea you want to be updated when the message gets posted. Later, you'll be able to decide if you want to make contact with him.
    -if @contact_request
      %h3 Have #{ @card.giver } get a hold of me
      %hr
      =semantic_form_for @contact_request, :url => contact_request_path(@card.code) do |f|
        =f.inputs do
          =f.input :contact_info, :label => "Your phone number and/or email address"
          =f.input :message, :label => "Message"
        =f.buttons do
          =f.commit_button "Get back to me"
