#message
  -if @card.giver == current_user
    -if @edit
      %h1 Post a message
      -semantic_form_for @card, :html => { :method => :put, :class => 'centered' }, :url => card_edit_path(@card.code) do |f|
        =f.inputs do
          =f.input :message, :required => true
        =f.buttons do
          =f.commit_button "Post message"
    -else
      %h1 Message from #{ @card.giver }
      %blockquote.message= auto_link simple_format @card.message
      %p.note Posted at: #{ @card.updated_at.to_s :long }
      -if @card.contact_requests.any?
        -@card.contact_requests.each do |cr|
          %hr
          %h2 Contact Request from #{ auto_link(cr.email) }
          %blockquote.message= auto_link(simple_format(cr.message))
          %p.note Posted at: #{ cr.created_at.to_s :long }
      -else
        #actions
          =link_to "Edit message", card_edit_path(@card.code), :class => "button"
      -if @card.giver.any_contact_info_public?
        %hr
        =render "contact_info", :user => @card.giver
  -else
    -if @notification_request
      %h2 #{ @card.giver } hasn't been here to post a message for you yet.
      %p.explanation To be notified when #{ @card.giver.personal_pronoun } posts a message for you, put your email here:
      =semantic_form_for @notification_request, :url => notification_request_path(@card.code) do |f|
        =f.inputs do
          =f.input :email, :label => 'Email address'
        =f.buttons do
          =f.commit_button "Notify me*"
          %span.alt or #{ link_to "Just have #{ @card.giver.demonstrative_pronoun } get a hold of me.", contact_request_path(@card.code) }
      %p.note * #{ @card.giver } will not get your email, or have any idea you want to be updated when the message gets posted. Later, you'll be able to decide if you want to make contact with #{ @card.giver.demonstrative_pronoun }.
      -if @card.giver.any_contact_info_public?
        %hr
        =render "contact_info", :user => @card.giver
    -elsif @contact_request
      %h1 Message from #{ @card.giver }
      %blockquote.message= auto_link simple_format @card.message
      %p.note Posted at: #{ @card.updated_at.to_s :long }
      %div{ :class => @hide_form ? '' : 'show-form' }
        #actions
          =link_to "Have #{ @card.giver.first_name } get a hold of me", contact_request_path(@card.code), :class => 'button open-form'
        .hidden-form
          %hr
          =render "contact_request"
      -if @card.giver.any_contact_info_public?
        %hr
        =render "contact_info", :user => @card.giver
    -else
      #actions
        =link_to "Back to card", card_path(@card.code), :class => 'button'
