%h1= @giver
-if @giver.show_email
  %p= @giver.email
-if @giver.phone_number
  %p= @giver.phone_number
-if @card.message
  %p= @card.message
-if @giver == current_user
  %p= link_to "Edit card", card_edit_path(@card.code)
