#breadcrumb
  =link_to "Admin", admin_path
  =">"
  =link_to "Users", admin_users_path
  =">"
  =link_to @user, admin_user_path(@user)
%h1= @user
-if @user.admin
  %p
    %label Administrator
-if @user.locked_at
  %p
    %label Locked at
    %span= @user.locked_at
%p
  %label First name
  %span= @user.first_name
%p
  %label Last name
  %span= @user.last_name
%p
  %label Email
  %span= @user.email
%p
  %label Created at
  %span= @user.created_at
%p
  %label Updated at
  %span= @user.updated_at
%ul
  -for order in @user.orders
    %li= link_to order, admin_order_path(order)
