!!!
%html
  %head
    %title conne.cc
    %link{ :rel => "shortcut icon", :href => "/favicon.png", :type => "image/x-icon"}
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Molengo:regular&subset=latin"
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery-1.4.4.min"
    = javascript_include_tag "jquery-css-transform"
    = javascript_include_tag "site"
    = csrf_meta_tag
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20311526-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #header
      %a#home-link{ :href => "/"} conne.cc
      -if user_signed_in?
        -if current_user.admin
          %a{ :href => "/admin"} admin dashboard
        %a{ :href => "/dashboard"} dashboard
        %a{ :href => "/logout"} logout
      -else
        %a{ :href => "/login"} login
        %a{ :href => "/signup"} signup
      %span.arrow= ">"
    #main
      -if notice
        %p{ :class => "notice" }= notice
      -if alert
        %p{ :class => "alert" }= alert
      = content_for?(:content) ? yield(:content) : yield
