!!!
%html
  %head
    %title conne.cc
    %link{ :rel => "shortcut icon", :href => "/favicon.png", :type => "image/x-icon"}
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Molengo:regular&subset=latin"
    = stylesheet_link_tag :all
    = javascript_include_tag "jquery-1.4.4.min"
    = javascript_include_tag "jquery-css-transform"
    = javascript_include_tag "site"
    = csrf_meta_tag
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20311526-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #header
      %a#home-link{ :href => "/"} conne.cc
      %form#login-form
        %p.username
          %label{ :for => "login-username" }Username
          %input#login-username{ :name=> "username" }
        %p.password
          %label{ :for => "login-password" }Password
          %input#login-password{ :name => "password", :type => "password" }
        %input{ :type => "submit", :value => "Login" }
        %a#login-tab Login
    = yield
