<!doctype html>

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>conne.cc</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link href="http://fonts.googleapis.com/css?family=Molengo:regular&amp;subset=latin" media="screen" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag ["reset", "formtastic", "formtastic_changes", "style", "connecc"], :media => "all" %>
  <%= javascript_include_tag ["jquery-1.4.4.min", "modernizr-1.6.min", "jquery-css-transform", "site"] %>

</head>

<body>
  <div id="container" class="">
    <header>
      <a href="/">conne.cc</a>
      <%- if current_user %>
        <%- if current_user.admin %>
          <a href="<%= admin_path %>">Admin Dashboard</a>
        <%- end %>
        <a href="<%= dashboard_path %>">Dashboard</a>
        <a href="<%= logout_path %>">Logout</a>
      <%- else %>
        <a href="<%= login_path %>">Login</a>
        <a href="<%= signup_path %>">Signup</a>
      <%- end %>
    </header>
    <%- if flash[:notice] %>
      <div id="notice">
        <%= flash[:notice] %>
      </div>
    <%- end %>
    <%- if flash[:alert] %>
      <div id="alert">
        <%= flash[:alert] %>
      </div>
    <%- end %>
    <div id="main">
      <div id="banner">
        
        <span id="name">
            conne.cc
            <span id="arrow">&gt;</span>
        </span>
        
        
        <!--<img src="/images/logo.small.png" />-->
        <div class="clearfix"></div>
      </div>
      <div class="bannerCurl"><div class="leftCurl"></div><div class="rightCurl"></div></div>

      <div id="strip">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
      <div class="stripCurl"><div class="leftCurl"></div><div class="rightCurl"></div></div>

      <div class="clearfix"></div>
    </div>

    <footer>
    <%= link_to "@connecc_cards", "http://twitter.com/connecc_cards" %> |
    <%= link_to "Privacy", privacy_policy_path %> |
    Copyright 2011
    </footer>

  </div>

  <script>
   var _gaq = [['_setAccount', 'UA-20311526-1'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>

</body>
</html>

